<?xml version="1.0"?>
<config>
    <modules>
        <MageAustralia_FilterablePages>
            <version>1.1.0</version>
        </MageAustralia_FilterablePages>
    </modules>
    <global>
        <models>
            <filterablepages>
                <class>MageAustralia_FilterablePages_Model</class>
            </filterablepages>
        </models>
        <blocks>
            <filterablepages>
                <class>MageAustralia_FilterablePages_Block</class>
            </filterablepages>
        </blocks>
        <helpers>
            <filterablepages>
                <class>MageAustralia_FilterablePages_Helper</class>
            </filterablepages>
        </helpers>
        <resources>
            <mageaustralia_filterablepages_setup>
                <setup>
                    <module>MageAustralia_FilterablePages</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageaustralia_filterablepages_setup>
        </resources>
        <events>
            <api_layered_filter_dto_build>
                <observers>
                    <filterablepages_enrich_options>
                        <type>singleton</type>
                        <class>MageAustralia_FilterablePages_Model_Observer</class>
                        <method>enrichFilterOptions</method>
                    </filterablepages_enrich_options>
                </observers>
            </api_layered_filter_dto_build>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageaustralia_filterablepages before="Mage_Adminhtml">
                            MageAustralia_FilterablePages_Adminhtml
                        </mageaustralia_filterablepages>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
